<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Default" />


	<f:section name="main">
		<f:flashMessages />

		<div id="tx_teufelscptcntnumbers" class="tx_teufelscptcntnumbers row row-centered">


			<f:for each="{numbers}" as="number">

				<v:variable.set name="sSeperator" value=""/>
				<f:if condition="{settings.sSeperator}">
					<v:variable.set name="sSeperator" value="{settings.sSeperator}"/>
				</f:if>

				<v:variable.set name="sDecimals" value=""/>
				<f:if condition="{settings.sDecimals}">
					<v:variable.set name="sDecimals" value="{settings.sDecimals}"/>
				</f:if>

				<v:variable.set name="iDuration" value="2"/>
				<f:if condition="{settings.iDuration}">
					<v:variable.set name="iDuration" value="{settings.iDuration}"/>
				</f:if>
				<f:if condition="{number.duration}">
					<v:variable.set name="iDuration" value="{f:format.stripTags(value: '{number.duration -> f:format.html()}')}"/>
				</f:if>

				<v:variable.set name="iDecimals" value="0"/>
				<f:if condition="{settings.iDecimals}">
					<v:variable.set name="iDecimals" value="{settings.iDecimals}"/>
				</f:if>
				<f:if condition="{number.decimals}">
					<v:variable.set name="iDecimals" value="{f:format.stripTags(value: '{number.decimals -> f:format.html()}')}"/>
				</f:if>

				<v:variable.set name="iStart" value="0"/>
				<f:if condition="{number.start}">
					<v:variable.set name="iStart" value="{f:format.stripTags(value: '{number.start -> f:format.html()}')}"/>
				</f:if>


				<div id="number_{number.uid}" class="col-xs-12 col-sm-6 col-md-3 text-align_center col-centered count_number">
					<div class="inner">
						<f:if condition="{number.icon}">
							<span class="count-up--icon">
								<figure>
									<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										 data-echo="{number.icon.originalResource.publicUrl}"
										 width="32"
										 height="32"
										 title="{number.icon.originalResource.title}"
										 alt="{number.icon.originalResource.alternative}"
										 class="b-lazy opacity_0" />
								</figure>
							</span>
						</f:if>
						<span id="count-up--element-{number.uid}"
							  class="count-up--value display_inline-block"
							  data-seperator="{sSeperator}"
							  data-decimal-seperator="{sDecimals}"
							  data-start="{iStart}"
							  data-target="{f:format.stripTags(value: '{number.number -> f:format.html()}')}"
							  data-decimals="{iDecimals}"
							  data-duration="{iDuration}">
							{iStart}
						</span>
						<f:if condition="{number.unit}">
							<span class="count-up--value--addon display_inline-block"><f:format.raw>{number.unit}</f:format.raw></span>
						</f:if>
						<span class="count-up--title">{number.title}</span>
						<f:if condition="{number.teaser}">
							<span class="count-up--teaser">{number.teaser}</span>
						</f:if>
					</div>
				</div>
			</f:for>
		</div>
	</f:section>

</div>
