@import "../../../../../teufels_thm_custom/Resources/Private/Assets/Less/Custom/variables.less";

.count_number {
  position: relative;
  margin: 0 0 40px 0;
  @media (min-width: 992px) {
    margin: 0;
  }
}
.count_number .inner {
  padding: 0 10px;
}
.count_number .inner:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 10%;
  height: 80%;
  width: 1px;
  background: @brand-primary;
  @media (max-width: 767px) {
    top: auto;
    bottom: -20px;
    left: 10%;
    height: 1px;
    width: 80%;
  }
}
@media (min-width: 992px) {
  .count_number:first-child .inner:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .count_number:nth-child(odd) .inner:after {
    display: none;
  }
}

.count_number .inner span {
  display: block;
}
.count_number .inner span.display_inline-block {
  display: inline-block;
}
.count_number .inner p {
  margin: 0;
}
.count_number .inner .count-up--value,
.count_number .inner .count-up--value--addon {
  font-weight: 700;
  color: @brand-primary;
  font-size: 55px;
  font-size: 5.5rem;
  @media (min-width: 992px) and (max-width: 1999px) {
    ont-size: 40px;
    font-size: 4rem;
  }
  line-height: 1;
  margin: 10px 0;
}
.count_number .inner .count-up--title {
  font-weight: 200;
  font-size: 28px;
  font-size: 2.8rem;
}